[main]
inputFolder="/storage/37E2-8CF6/emu/roms"
gameListFolder="/storage/emulated/0/pegasus"
importFolder="/storage/37E2-8CF6/emu/metadata/skyscraper-import"
artworkXml="~/.skyscraper/artwork.xml"
subdirs="false"
gameListBackup="true"
relativePaths="false"
nameTemplate="%t"
videos="true"
cacheWheels="true"
unattendSkip="false"
frontend="pegasus"

[pegasus]
launch="none"
videos="true"
symlink="false"

[screenscraper]
userCreds="USERNAME:PASSWORD"

[ps2]
addExtensions="*.chd"

[fba]
inputFolder="/storage/37E2-8CF6/emu/roms/fbneo"
gameListFolder="/storage/emulated/0/pegasus/fbneo"

[mame-libretro]
inputFolder="/storage/37E2-8CF6/emu/roms/mame"
gameListFolder="/storage/emulated/0/pegasus/mame"

